.about-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    @include responsive(mini-phone) {
        display: flex;
        flex-direction: column;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include responsive(mini-phone) {
            margin-bottom: 2.3rem;
        }
    }
    &-text {
        @include responsive(big-tables) {
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
        @include responsive(tables) {
            font-size: 1.3rem;
            line-height: 1.9rem;
        }
        @include responsive(phone) {
            font-size: 1.4rem;
            line-height: 2.1rem;
        }
        @include responsive(mini-phone) {
            font-size: 1.5rem;
            line-height: 2.2rem;
        }
    }
    &__num {
        font-weight: 600;
        font-size: 4.8rem;
        line-height: 8rem;
        color: $brand-color;

    @include responsive(big-tables) {
        font-size: 3rem;
    }
    @include responsive(tables) {
        font-size: 2.2rem;
    }
    @include responsive(phone) {
        font-size: 2.4rem;
    }
    }
}
